@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --highcolor: rgba(241, 109, 107, .7);
    --activecolor: rgba(241, 109, 107, .5);

    /* --highcolor: rgba(97,164,102, 0.7);
    --activecolor: rgba(97,164,102, .5); */

    /* --highcolor: rgba(236,120,69, 0.7);
    --activecolor: rgba(236,120,69, 0.5); */
}

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
  background-color: rgb(240,238,211);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
    background-color: #3a3a3a;
    color: antiquewhite;
    /* width: max-content; */
    width: fit-content;
    padding: 5px;
    text-transform: uppercase;
}

h3 {
    font-size: 1.4rem;
    font-weight: 700;
    margin: 1rem;
    background-color: var(--highcolor);
    color: antiquewhite;
    /* width: max-content; */
    width: fit-content;
    padding: 5px;
    text-transform: uppercase;
}

p {
    margin: 16px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.highlight {
    font-size: 250%;
    font-style: italic;
}

.main {
    flex: 3;
}

.img-label {
    font-style: italic;
}

/* ################################## header ################################ */

#header {
    flex: 1;
    padding: 5px 10px;
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid black;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#logo {
    flex: 0;
    height: 70px;
}

#header:hover {
    color: var(--highcolor);
}

#menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

#menu div:hover {
    background-color: var(--highcolor);
    color: antiquewhite;
}

.active {
    background-color: var(--activecolor);
    color: antiquewhite;
}

/* ################################## home image ################################ */

#cover-outer {
	height: 700px;
	/* width: 100%; */
	overflow: hidden;
	position: relative;
    
}

#cover-image {
	width: 100%;
    min-height: 400px;

	animation-name: hero-zoom;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

@keyframes hero-zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

#cover-text {
    padding: 30px;
	background-color: var(--highcolor);

	bottom: 30px;
	/* left: 150px; */

	position: absolute;
	color: antiquewhite;
}

/* ################################## home text ################################ */


#welcome-text {
    flex-grow: 5;
    min-height: 40vh;
}



/* ################################## footer ################################ */

#footer {
    flex: 1;
    height: min-content;
    text-align: center;
    padding: 10px;
    background-color: var(--highcolor);
    color: antiquewhite;
}

.social-networks {
	clear: both;
	text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    /* margin: 1%; */
    padding: 5%;
    color: #3a3a3a;
}


/* ################################## form section ################################ */

.form-section {
    clear: left;
    
    background: url("../images/mountain.webp");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.contact-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-form > h2 {
    color: #fafafa;
    margin: 5px 0 20px 0;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.msgbox {
    background: transparent;
    color: #fafafa;
    width: 100%;
    /* height: 25px; */
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: var(--highcolor)
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: var(--highcolor);
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: var(--highcolor);
}

/* ################################## introduction ################################ */


.intro-body {
    flex: 1;
    columns: 2;
}

#intro-outer {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

#introphoto1 {
    position: absolute;
    bottom: 0;
    width: 100%;

    animation-name: hero-zoom;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

#intro-quote {
    background-color: var(--highcolor);
    color:antiquewhite;
    position: absolute;
    /* left: 4rem; */
    top: 4rem;
}

/* ################################## marketing ################################ */

#agingroom-outer {
    flex: 1;
    min-height: 400px;
    
    overflow: hidden;
    position: relative;
}

#agingroom {
    position: absolute;
    bottom: -50px;

    animation-name: hero-zoom;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

#market-quote {
    background-color: var(--highcolor);
    color:antiquewhite;
    position: absolute;
    /* left: 4rem; */
    bottom: 4rem;
}

.market-body {
    flex: 3;
    columns: 2;
    margin-top: 1rem;
    border-bottom: 1px solid black;
}

#marketgraph {
    width: 100%;
}

#volumegraph {
    width: 100%;
}


/* ################################## branding ################################ */

#kana-logo {
    width: 100%;
}

.branding-body {
    flex: 1;
    columns: 2;
}

.brandlist {
    margin: 0.5rem 4rem;
    padding: 1rem;
}

#flavorwheel {
    flex: 1;
    width: 100%;
}

.img-label {
    border-bottom: 1px solid black;
}

/* ################################## media querries ################################ */


@media screen and (max-width: 1000px) {
    .intro-body {columns: 1;    }
    .market-body {columns: 1;   }
    .branding-body {columns: 1;   }
    #cover-outer {height: 400px;}
}


