@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(240,238,211);
  display: flex;
  flex-direction: column;
  
}

h1 {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

h2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1rem;
}

p {
    margin: 5px;
    padding: 5px;
}

#header {
    flex: 1;
    padding: 5px 10px;
    margin: 20px 20px 0px 20px;
    border-bottom: 1px solid black;
}

#menu {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#menu div {
    flex: 1;
    text-align: center;
    padding: 10px;
}

#menu div:hover {
    /* background-color: black; */
    background-color: rgba(241, 109, 107, .7);
    color: antiquewhite;
}


#cover-outer {
	height: 800px;
	width: 100%;
    object-fit: fill;
	overflow: hidden;
	position: relative;
}

#cover-image {
	height: 800px;
	width: 100%;
	background: url('../images/coverphoto.webp') no-repeat center center;

	animation-name: hero-zoom;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

@keyframes hero-zoom {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(1.1);
	}
}

#cover-text {
	font-size: 130%;
	/* text-transform: uppercase; */
	letter-spacing: 4px;
	
    padding: 30px;

	background-color: rgba(241, 109, 107, .7);
    /* background-color: rgba(0,0,0,0.5); */

	bottom: 50px;
	right: 150px;

	position: absolute;
	color: white;
}


#welcome-text {
    flex: 5;
    min-height: 50vh;
}

#footer {
    height: min-content;
    flex: 0;
    text-align: center;
    padding: 10px;
    background-color: rgba(241, 109, 107, .7);
    color: antiquewhite;
}


.social-networks {
	clear: both;
	text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    /* margin: 1%; */
    padding: 5%;
    color: #3a3a3a;
}