
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="RainForest Distillers Inc.">
		<meta name="keywords" content="rum, rhum, agricole, bukidnon, philippines">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">

		<title>RainForest Distillers</title>
	</head>

	<body>
        <!-- HEADER SECTION -->
        <header id="header">
            <a href="{{ url_for('index') }}" id="rdi"><p id="rdi-title">RainForest Distillers, Inc.</p></a>
            <img src="{{ url_for('static', filename='images/rdilogo-02.png')}}" alt="RainForest Distillers, Inc." id="logo">
        </header>

        <!-- NAV MENU -->
        <nav id="menu">
            <div id="menu-index"><a href="{{ url_for('index') }}">Home</a></div>
            <div id="menu-intro"><a href="{{ url_for('introduction') }}">About</a></div>
            <div id="menu-market"><a href="{{ url_for('marketing') }}">Marketing</a></div>
            <div id="menu-brand"><a href="{{ url_for('branding') }}">Branding</a></div>
            <div id="menu-contact"><a href="{{ url_for('contact') }}">Contact us</a></div>
        </nav>

        {% block content %}
        {% endblock %}

        <!-- FOOTER SECTION -->
        <div id="footer">
            <ul class="social-networks">
                <li>
                    <a href="https://facebook.com" target="_blank" rel="noopener"
                        aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i></a>
                </li>
                <li>
                    <a href="https://twitter.com" target="_blank" rel="noopener"
                        aria-label="Visit our Twitter page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a>
                </li>
                <li>
                    <a href="https://youtube.com" target="_blank" rel="noopener"
                        aria-label="Visit our YouTube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a>
                </li>
                <li>
                    <a href="https://instagram.com" target="_blank" rel="noopener"
                        aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a>
                </li>
            </ul>
            <div id="footer-text">
                <p>© 2017 RainForest Distillers, Inc.</p>
            </div>
        </div>

        <!-- FONT SCRIPT -->
        <script src="https://kit.fontawesome.com/acf70f284f.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js" integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8=" crossorigin="anonymous"></script>
        <script>
            // this sets highlights the active nav element
            const current = '#' + $(".activenote")[0].classList[1];
            $(current).addClass("active");
        </script>
	</body>
</html>


